.container {
    width: 7.5rem;
    min-height: 13.34rem;
    background: -webkit-gradient(linear, left top, right bottom, from(#fca31c), to(#ffcf0c));
    padding-bottom: 0.4rem;
}

.con1 {
    background: -webkit-gradient(linear, left top, right bottom, from(#aac7fb), to(#bbd1fc));
}

.con2 {
    background: #fff;
}

.color1 {
    color: #fff !important;
}

.bg_color1 {
    background-color: #edf4ff !important;
}

.bg_color2 {
    background-color: #fff7ec !important;
}

.top-box {
    overflow: hidden;
    width: 100%;
    height: 9.5rem;
    background: url("top_bg.png")/*tpa=http://m.szdmxxkj.com/Content/channel/img/top_bg.png*/ no-repeat bottom center;
    background-size: 100% 100%;
}

.top-box1 {
    overflow: hidden;
    width: 100%;
    height: 9.5rem;
    background: url("top_bg1.png")/*tpa=http://m.szdmxxkj.com/Content/channel/img/top_bg1.png*/ no-repeat bottom center;
    background-size: 100% 100%;
}

.top-box3 {
    overflow: hidden;
    width: 100%;
    height: 5.5rem;
    background: url("register_top_2.png")/*tpa=http://m.szdmxxkj.com/Content/channel/img/register_top_2.png*/ no-repeat bottom center;
    background-size: 100% 100%;
}

.top-box2 {
    overflow: hidden;
    width: 100%;
    height: 9.5rem;
    background: url("top_bg2.png")/*tpa=http://m.szdmxxkj.com/Content/channel/img/top_bg2.png*/ no-repeat bottom center;
    background-size: 100% 100%;
}

.top-box .canvasBox {
    width: 5.42rem;
    height: 4.62rem;
    background: url("canvas_bg.png")/*tpa=http://m.szdmxxkj.com/Content/channel/img/canvas_bg.png*/ no-repeat top center;
    background-size: 100% auto;
    margin: 0.24rem auto 0.17rem;
    position: relative;
}

    .top-box .canvasBox .circleBox {
        width: 4.72rem;
        height: 4.72rem;
        position: absolute;
        left: 0.36rem;
        top: 0.36rem;
    }

    .top-box .canvasBox canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    .top-box .canvasBox .textNum {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 1.1rem;
    }

        .top-box .canvasBox .textNum p {
            text-align: center;
            font-size: 0.42rem;
            color: #ffddcd;
        }

            .top-box .canvasBox .textNum p.money-line {
                color: #ffffff;
                font-size: 0.5rem;
                font-weight: bold;
                margin-top: -0.08rem;
                /*margin: 0px 0;*/
            }

                .top-box .canvasBox .textNum p.money-line .money {
                    font-size: 1rem;
                }

.top-box .top_log_box {
    margin-top: 0.3rem;
    margin-left: 0.4rem;
}

    .top-box .top_log_box .logo {
        width: 0.69rem;
    }

    .top-box .top_log_box .logo_desc_box {
        margin-top: -0.08rem;
    }

    .top-box .top_log_box .line {
        width: 0.02rem;
        height: 0.65rem;
        background-color: #ffce94;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .top-box .top_log_box .logo_name {
        font-size: 0.36rem;
        color: #fff;
        font-weight: bold;
    }

    .top-box .top_log_box .logo_desc {
        font-size: 0.2rem;
        color: #ffd8be;
        margin-top: -0.06rem;
    }

.top-box .img-total {
    position: absolute;
    left: 50%;
    width: 7.16rem;
    top: 0.24rem;
    transform: translateX(-50%);
}

.top-box .big-title {
    width: 6.2rem;
    margin: 0.86rem auto 0;
}

.top-box .top-tag {
    width: 6.43rem;
    margin-top: 0.9rem;
    margin-left: 0.65rem;
}

.top-box .title {
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.6rem;
    width: 5.05rem;
    height: 0.6rem;
    margin: 0 auto;
    background-color: #fe8604;
    border-radius: 0.3rem;
    color: #fff;
}

    .top-box .title .title-right {
        color: #0c00ff;
    }

.content-box {
    padding: 0 0.37rem;
}

.registerBox {
    background-color: #fffff8;
    border-radius: 0.1rem 0.1rem 0 0;
    /*padding: 48px 38px 25px;*/
    padding: 0.28rem 0.38rem 0.25rem;
    margin-top: -2.5rem;
    /*position: relative;*/
}

    .registerBox .tag-top {
        width: 80%;
        margin: 0 auto;
    }

        .registerBox .tag-top img {
            width: 100%;
        }

    .registerBox .tag-box {
        /*margin-bottom: 58px;*/
        margin-bottom: 0.26rem;
    }

        .registerBox .tag-box .tag-list {
            width: 1.68rem;
            margin-top: .34rem;
            text-align: center;
        }

            .registerBox .tag-box .tag-list .tag_title_box {
                margin-bottom: 0.03rem;
            }

                .registerBox .tag-box .tag-list .tag_title_box > img {
                    height: .5rem;
                    width: auto;
                    margin-top: -0.08rem;
                    margin-right: 0.04rem;
                }

            .registerBox .tag-box .tag-list .tag_title {
                font-size: 0.28rem;
                font-weight: bold;
                color: #fd4b12;
                /*line-height: 76px;*/
            }

            .registerBox .tag-box .tag-list .tag-desc {
                font-size: 0.24rem;
                color: #fd4b12;
            }

    .registerBox .input-list {
        background-color: #fff7ec;
        border-radius: 0.2rem;
        height: 0.8rem;
        font-size: 0.28rem;
    }

        .registerBox .input-list + .input-list {
            margin-top: 0.2rem;
        }

        .registerBox .input-list input {
            width: 100%;
            height: 100%;
            border: 0;
            background: transparent;
            padding-left: 0.2rem;
            font-size: 0.28rem;
        }

        .registerBox .input-list.code_input_list {
            padding-right: 0.3rem;
        }

            .registerBox .input-list.code_input_list input {
                width: 100%;
            }

            .registerBox .input-list.code_input_list .code_btn {
                height: 100%;
                background: transparent;
                border: none;
                color: #ff6b07;
            }

                .registerBox .input-list.code_input_list .code_btn.active {
                    color: #abafbe;
                }

                .registerBox .input-list.code_input_list .code_btn .time {
                    color: #ff1c47;
                }

    .registerBox .registerBtn {
        width: 100%;
        border: none;
        height: 0.9rem;
        font-size: 0.36rem;
        font-weight: bold;
        color: #fff;
        margin-top: 0.4rem;
        background-image: linear-gradient(-90deg, #ff4a4e 0%, #ff6141 55%, #ff7834 100%), linear-gradient(180deg, #ff8675 0%, #fa5c5d 100%);
        /* //linear-gradient(0deg, #fd5f0e 0%, #ff813a 100%), linear-gradient(#ff9f19, #ff9f19); */
        background-blend-mode: normal, normal;
        box-shadow: 0px 1.5px 5px 0px rgba(254, 115, 40, 0.44);
        border-radius: 0.45rem;
    }

    .registerBox .registerBtn1 {
        width: 100%;
        border: none;
        height: 0.9rem;
        font-size: 0.36rem;
        font-weight: bold;
        color: #fff;
        margin-top: 0.4rem;
        background-color: #4281eb;
        /* //linear-gradient(0deg, #fd5f0e 0%, #ff813a 100%), linear-gradient(#ff9f19, #ff9f19); */
        background-blend-mode: normal, normal;
        border-radius: 0.45rem;
    }

    .registerBox .registerBtn2 {
        width: 100%;
        border: none;
        height: 0.9rem;
        font-size: 0.36rem;
        font-weight: bold;
        color: #2c2b2a;
        margin-top: 0.4rem;
        background-color: #f2d9a1;
        /* //linear-gradient(0deg, #fd5f0e 0%, #ff813a 100%), linear-gradient(#ff9f19, #ff9f19); */
        background-blend-mode: normal, normal;
        border-radius: 0.45rem;
    }

    .registerBox > p {
        color: #999999;
        text-align: center;
        margin-top: 0.4rem;
    }

        .registerBox > p a {
            color: #4b8fff;
        }

.vip_experience-box .icon {
    width: 0.28rem;
    position: absolute;
    top: -0.3rem;
}

.vip_experience-box .title-left {
    left: 22%;
}

.vip_experience-box .title-right {
    right: 22%;
}

.vip_experience-box .vip_experience {
    background-color: #fffff8;
    border-radius: 0 0 0.2rem 0.2rem;
    /*margin-top: 77px;*/
    padding: 0.5rem 0.35rem 0.61rem;
    position: relative;
    z-index: 100;
}

    .vip_experience-box .vip_experience > p.title {
        padding: .2rem 0;
    }

        .vip_experience-box .vip_experience > p.title img {
            height: .45rem;
            width: unset;
        }

    .vip_experience-box .vip_experience .top-header {
        width: 3.5rem;
        height: 0.56rem;
        background-image: linear-gradient(90deg, #ffd74d 0%, #ffb646 50%, #ff953e 100%), linear-gradient(#ff9f19, #ff9f19);
        background-blend-mode: normal, normal;
        border-radius: 3px;
        position: absolute;
        top: -0.34rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 110;
        font-size: 0.3rem;
        color: #fff;
        line-height: 0.56rem;
        text-align: center;
        font-weight: bold;
    }

    .vip_experience-box .vip_experience .scroll-box {
        height: 9.2rem;
        overflow: hidden;
    }

    .vip_experience-box .vip_experience .vip_list {
        background-color: #fff7ec;
        padding: 0.47rem 0.43rem 0.38rem 0.29rem;
        margin-bottom: 0.3rem;
        position: relative;
        overflow: hidden;
    }

        .vip_experience-box .vip_experience .vip_list:last-child {
            margin-bottom: 0;
        }

        .vip_experience-box .vip_experience .vip_list .userinfo {
            color: #7a5d48;
            font-size: 0.24rem;
        }

            .vip_experience-box .vip_experience .vip_list .userinfo img {
                width: 0.48rem;
                height: 0.48rem;
                border-radius: 0.5rem;
                margin-right: 0.17rem;
            }

        .vip_experience-box .vip_experience .vip_list .tag_box {
            margin-top: 0.22rem;
            margin-bottom: 0.16rem;
        }

            .vip_experience-box .vip_experience .vip_list .tag_box .tag_list {
                display: inline-block;
                background-color: #fff7ec;
                border: solid 1px #ff9a18;
                color: #ff9e22;
                font-size: 0.22rem;
                padding: 0.12rem 0.18rem;
                margin-right: 0.1rem;
            }

        .vip_experience-box .vip_experience .vip_list .leaveMessage {
            font-size: 0.22rem;
            line-height: 0.37rem;
            color: #93745c;
        }

        .vip_experience-box .vip_experience .vip_list .label {
            background-color: #ff9a18;
            position: absolute;
            width: 2rem;
            top: 0.3rem;
            right: -0.5rem;
            text-align: center;
            height: 0.34rem;
            line-height: 0.34rem;
            font-size: 0.2rem;
            z-index: 100;
            transform: rotate(45deg);
            color: #fff;
        }

.toast-box {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 0.2rem 0.15rem;
    min-width: 1rem;
    line-height: 0.3rem;
    background: rgba(30, 30, 30, 0.9);
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    z-index: 5000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .toast-box.hide {
        display: none;
    }

    .toast-box.show {
        display: block;
    }

.mark-ifr {
    width: 100%;
    overflow: hidden;
    display: none;
}

    .mark-ifr .mark {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .mark-ifr .tips {
        width: 5.8rem;
        height: 3.1rem;
        background: url("nxyq/wechat_tips.png")/*tpa=http://m.szdmxxkj.com/Content/channel/img/wechat_tips.png*/ right top no-repeat;
        background-size: 100% auto;
        position: fixed;
        z-index: 1000;
        top: 0.05rem;
        right: 0.2rem;
    }
/**/
.fixed-bottom {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    padding-bottom: 0.3rem;
    z-index: 10;
    display: none;
}

.downBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0;
    padding-top: 0.3rem;
}

.fixed-bottom .down-desc {
    font-size: 0.26rem;
    color: #333;
    margin-top: 0.34rem;
}

.btn {
    display: inline-block;
    width: 3rem;
    height: 0.75rem;
    font-size: .36rem;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    border: none;
    line-height: normal;
}

    .btn + .btn {
        margin-left: 0.4rem;
    }

.trust {
    background-color: #2069ff;
    box-shadow: 0px 1.5px 5px 0px rgba(75, 129, 239, 0.44);
    border-radius: 38px;
}

.down {
    background-color: #fd5510;
    box-shadow: 0px 1.5px 5px 0px rgba(254, 115, 40, 0.44);
    border-radius: 38px;
}

.down-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.top-empty-div {
    height: 2.06rem;
    display: none;
}

.copyright {
    text-align: center;
    padding: .23rem;
}

    .copyright p {
        color: #a58c28;
    }

.copyright1 {
    text-align: center;
    padding: .23rem;
}

    .copyright1 p {
        color: #7d82dc;
    }

.c9 {
    color: #999999 !important;
}

.trustMethod {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
}

    .trustMethod .trustMethod_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
    }

    .trustMethod .trustMethod_content {
        position: relative;
        width: 92vw;
        background: #fff;
        margin: 50% auto 0;
        border-radius: .1rem;
    }

        .trustMethod .trustMethod_content .trustMethod_head {
            padding: 0 .2rem;
            height: .9rem;
            line-height: .9rem;
            font-size: .32rem;
            width: 100%;
        }

            .trustMethod .trustMethod_content .trustMethod_head .trustMethod_head_close {
                height: .2rem;
                float: right;
                margin: .35rem 0;
                width: unset;
            }

        .trustMethod .trustMethod_content .trustMethod_text {
            background: #fff;
            overflow-y: auto;
        }

        .trustMethod .trustMethod_content .colorTheme {
            display: block;
            text-decoration: none;
            background: linear-gradient(0deg, #fd9449, #ffa95e);
        }
/*# sourceMappingURL=index.css.map */
